.purple1 {color:purple}
.green1 {color:green}
.red1 {color:red}
.yellow1 {color:yellow}
.blue1 {color:royalblue}
.fs1 {font-size: 100px;}
.fr1{font-style:italic ;}
.t1 {word-spacing: 150em;}
.p.normal{font-weight: 900;}
.blue2 {color:blue}
.blue3 {color:lightblue}
html{border-style: solid;border-color:red;}
html{margin-right:160px ;
     margin-left: 160px;
     margin-top: 50px;}
a:link{color:red;}
a:visited{color:darkblue;}
a:hover{color:green}
a:active{color:pink}